html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 20px;
}

.contact {
    display: flex;
}

a {
    text-decoration: none;
}

.section h3{
    margin-top: 5px;
    font-size: 18px;
    color: white;
}

main .section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    width: 300px;
    background-color: gray;
    height: auto;
    border-radius: 30px;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.cake {
    width: 300px;
    height: 200px;
    background-color: rgb(207, 207, 207);
    border: 1px;
    border-radius: 30px;
}

.syrnyky {
    width: 300px;
    height: 200px;
    background-color: rgb(207, 207, 207);
    border: 1px;
    border-radius: 30px;
}

.rullet {
    width: 300px;
    height: 200px;
    background-color: rgb(207, 207, 207);
    border: 1px;
    border-radius: 30px;
}

.tistechko {
    width: 300px;
    height: 200px;
    background-color: rgb(207, 207, 207);
    border: 1px;
    border-radius: 30px;
}

.cake h4 h3{
    display: inline;
}

main {
    display: flex;
    flex-wrap: nowrap;
    align-content: stretch;
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.sweet {
    max-width: 1100px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}

.cake, .rullet, .syrnyky, .tistechko {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
}

.cake:hover, .rullet:hover, .syrnyky:hover, .tistechko:hover {
    box-shadow: 2px 2px 2px 2px black;

}

.cake img, .rullet img, .syrnyky img, .tistechko img{
    width: 130px;
    height: 130px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.cake h4, .rullet h4, .syrnyky h4, .tistechko h4{
    margin-left: -13px;
    font-weight: bold;
}

.cake h3, .rullet h3, .syrnyky h3, .tistechko h3{
    color: rgb(0, 52, 241);
}

.checkbox-btn {
	display: inline-block;
	margin: 0 5px 0 0;
	user-select: none;
	position: relative;
    margin-bottom: 20px;
}
input[type=checkbox] {
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.checkbox-btn span {
	display: inline-block;
	cursor: pointer;
	padding: 0px 10px;
	line-height: 30px;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	transition: background 0.2s ease;
    width: 120px;
    text-align: center;
}

button{
    background-color: gray;
    border: 1px solid white;
    border-radius: 3px;
    height: 32px;
    cursor: pointer;

}

input[type=checkbox]:checked + .checkbox-btn span {
	background: #f10707;
}

.checkbox-btn:hover {
	color: rgb(255, 255, 255);
}

input#filtr1:checked ~ .section > label[for="filtr1"]{
    background-color: green;
}
input#filtr2:checked ~ .section > label[for="filtr2"]{
    background-color: green;
}
input#filtr3:checked ~ .section > label[for="filtr3"]{
    background-color: green;
}
input#filtr4:checked ~ .section > label[for="filtr4"]{
    background-color: green;
}

.section h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

input[type="checkbox"]:not(:checked) ~ .sweet .smakolik {
    display: flex;
}

input[type="checkbox"]:checked ~ .sweet .smakolik {
    display: none;
}

#filtr1:checked ~ .sweet .tistechko {
    display: flex;
}

#filtr2:checked ~ .sweet .cake {
    display: flex;
}

#filtr3:checked ~ .sweet .rullet {
    display: flex;
}

#filtr4:checked ~ .sweet .syrnyky {
    display: flex;
}

.range-controls {
    position: relative;
  
    margin-bottom: 12px;
  }
  
  .range-controls .scale {
    height: 2px;
  
    background: rgba(255, 255, 255, 0.3);
  }
  
  .range-controls .bar {
    width: 80%;
    height: 2px;
  
    background: #ffffff;
  }
  
  .range-toggle {
    position: absolute;
    top: -9px;
  
    width: 4px;
    height: 4px;
  
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
  }
  
  .range-toggle:hover {
    background: #1c4f80;
  }
  
  .range-toggle-min {
    left: 0;
  }
  
  .range-toggle-max {
    left: 80%;
  }